@import 'mixins';

.chatnav {
	@include full-size();
	display: flex;
	align-items: center;

	&__back-btn {
		padding: 0 18px;
	}
	&__back-btn::before {
		@include draw-content(180deg, '\25BA');
	}

	&__title {
		flex: 1;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__menu-btn {
		padding: 0 18px;
	}
	&__menu-btn::before {
		@include draw-content(90deg, '. .');
		font-weight: 800;
		padding-bottom: 10px;
	}
}